body {
    font-family: Helvetica, Arial, Roboto, 'sans-serif';
}

h2 {
    margin-left: 0.75em;
    margin-block-end: 0.35em;
}

ol {
    margin-block-start: 0.35em;
}

li {
    font-weight: bold;
    margin-bottom: 0.15em;
    line-height: 1.5em;
    font-size: 0.75em;
}

.col-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #bababa;
    padding: 0.25em 0 0.25em 0.5em;
}

.row:nth-of-type(2n) {
    background-color: #dcdcdc;
}

label {
    font-weight: bolder;
    width: 10em;
}

input {
    margin-left: 3em;
}

input.textbox {
    width: 30em;
    -webkit-appearance: none;
    border-bottom: 3px solid #333333;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
}

input:focus {
    outline: none;
    border-bottom: 3px solid #3366cc !important;
}

input.number {
    width: 7em;
    -webkit-appearance: none;
    border-bottom: 3px solid #333333;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
}

input.colorpicker {
    width: 7em;
    -webkit-appearance: none;
    border-bottom: 3px solid #333333;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
}

button {
    padding: 0.75em 1em 0.5em;
    border-radius: 0;
    font-weight: bolder;
    font-size: 0.75em;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.good {
    background-color: #148c14;
    border: 3px solid #0c490c;
}

.good:hover {
    background-color: #0c490c;
    border: 3px solid #0c490c;
}

.neutral {
    background-color: #329ecd;
    border: 3px solid #206ecd;
}

.neutral:hover {
    background-color: #206ecd;
    border: 3px solid #206ecd;
}

.bad {
    background-color: #cd3232;
    border: 3px solid #861414;
}

.bad:hover {
    background-color: #861414;
    border: 3px solid #861414;
}

.hilite {
    background-color: #bbbbbb;
    padding: 0.25em;
}

#help {
    background-color: #dcdcdc;
}